<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <div th:replace="fragments/fonts.html"></div>
  <link th:href="@{/styles/main.css}" rel="stylesheet">
  <link href="../static/styles/main.css" rel="stylesheet">
</head>
<body>
  <div th:replace="fragments/navigation :: header">
    Header
  </div>

<div>

  <div th:replace="fragments/status :: div">
    status
  </div>

<form class="row g-3 center" action="#"
      name="register-form" method="post" autocomplete="off"
      th:action="@{/pages/login}" th:object="${loginForm}">
  <span class="error"></span>

  <label>Email</label>
  <input type="text" class="form-control" name="email" placeholder="name@email.com" th:field="*{email}">

  <label>Password</label>
  <input type="password" class="form-control" name="pass1" placeholder="Password" th:field="*{password}">

  <input type="submit" class="btn btn-primary mb-3" name="register-submit" value="Login">
</form>
</div>
</body>
</html>
