<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <div th:replace="fragments/fonts.html"></div>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <link href="../static/styles/main.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/navigation.html :: header"></div>

    <div th:if="${profile != null}">
        <h1>user name: [[${profile.name}]]</h1>
        <h1>email: [[${profile.email}]]</h1>
    </div>

    <table>
        <thead>
        </thead>
        <tbody>
        <tr th:if="${topics.empty}">
            <p>There is no topics that <span style="color: forestgreen">you</span> have started</p>
        </tr>

        <tr th:each="topic : ${topics}">
            <td><span th:text="${topic.title}"> Title </span></td>
            <td><span th:text="${topic.argument}"> Argument </span></td>
        </tr>
        </tbody>
    </table>


</body>
</html>