<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration</title>
    <div th:replace="fragments/fonts.html"></div>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
  <link href="../static/styles/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navigation :: header">
    Header
</div>
<div>
  <h1 class="log"> Atrium </h1>
      <div id="alerta" class="modala forward" th:if="${exist != null}">
          <div class="modala-content">
              <p>account already exists</p>
          </div>
      </div>
      <form class="row g-3 center" action="#"
          name="register-form" method="post" autocomplete="off"
          th:action="@{/pages/register}" th:object="${user}">
        <span class="error"></span>
        <label>Name </label>
        <input type="text" class="form-control" name="name" placeholder="Username" th:field="*{name}">
        
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="name@email.com" th:field="*{email}">

        <label>Password</label>
        <input type="password" class="form-control" name="pass1" placeholder="Password" th:field="*{password}">

        <label>Repeat Password</label>
        <input type="password" class="form-control" name="pass2" placeholder="Repeat password">

        <input type="submit" class="btn btn-primary mb-3" name="register-submit" value="Register">
    </form>
  </div>
  <script src="../static/js/registration.js" crossorigin="anonymous"></script>
</body>
</html
