

.log{
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.bordered {
    border-radius: 10px;
    border: 2px dashed;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 50%;
}

.error.display-err {
    color: red;
}

.error.display-success{
    color: green;
}

.forward{
    z-index: 10;
}

.popup{
    text-align: center;
}

.modala {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: -120px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    animation: 4s fadeIn;
    animation-fill-mode: forwards;

    pointer-events: none ;
}

/* Modal Content/Box */
.modala-content {
    border-radius: 7px;
    background-color: #ff7453;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
}

@keyframes fadeIn {
    40% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    height : 10%;
    width: 100%;
    background: #212224;
}

nav {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}

.logo a{
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-left: 20px;
}

a span{
    color: #C70C0C;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
}

.menu ul li a{
    color: white;
}
.menu ul li a:hover{
    color: #6969c7;
    transition: 0.2s;
}

.btn a{
    background: #0ef612;
    padding: 14px 30px;
    color: #212224;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 30px;
    letter-spacing: 1px;
    margin: 10px;
}

.text h1 {
    color: white;
    font-size: 45px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.main-content {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text p {
    color: white;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 26px ;
}
.btn2 {
    color: white;
    border: 2px solid #fc4626;
    padding: 12px 28px;
    text-transform: uppercase;
    border-radius: 30px;
}

.btn2:hover {
    background: #fc4626;
    color: white;
    transition: 0.5ms;
}

.logo .img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn .profile {
    background: #4949dc;
}
.btn .logout {
    background: crimson;
}